
body {
	padding: 0;
	margin: 0;
	background: #fff;
    min-height: 100vh;
    background: linear-gradient(to left, #f5f5f5 50%, #fff 50%);
	font-family: 'Raleway', sans-serif;
}
center{
	color: red;
}
.fullpage {
    padding: 3em 0;
}
.agile_info {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h3 {color: green;}
.container {
    width: 65%;
    margin: 0 auto;
}
.loginform {
    padding: 3em 0;
}
.w3l_form {
    padding: 0px;
    flex-basis: 50%;
	-webkit-flex-basis: 50%;
}
.fullpage {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.left_grid_info h1 {
    font-size: 45px;
    margin: 1em 0em .5em 0em;
    color:lightblue;
    font-weight: 700;
}
.w3_info {
    flex-basis: 50%;
	-webkit-flex-basis: 50%;
    box-sizing: border-box;
	padding: 3em 4em;
}
.input-group {
    margin-top: 10px;
    margin-bottom: 20px;
	padding: 3px 10px;
	border: 1px solid #ddd;
	border-radius: 20px;
	background: transparent;
}
.fa {
	font-size: 16px;
	 vertical-align: middle;
	 box-sizing:border-box;
	 float:left;
	 text-align: center;
	 width:6%;
	 padding: 15px 0px;
	 color: #01cd74;
 }
 /* .eye{
	 position: absolute;
	 
 } */
img{max-width:100%;}
input[type="email"] {
	font-size: 15px;
	color: #333;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px 10px;
	width:93%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}
input[type="Password"] {
	font-size: 15px;
	color:red;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 14px 10px;
	width:93%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}
label{
   color:teal;
}

.footer p {
	color: blue;
	text-align: center;	
}

.footer p a {
	color: black;

}
.button{
    background: #ff4040;
    border: none;
    color: #fff;
    font-size: 13px;
    padding: 12px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
	border-radius: 20px;
	cursor: pointer;
}

.input-group span.fa {
	font-size: 16px;
	 vertical-align: middle;
	 box-sizing:border-box;
	 float:left;
	 text-align: center;
	 width:6%;
	 padding: 15px 0px;
	 color: #01cd74;
 }

h1{color:green}
p{color:red; align-content: center;}